@import "../../styles/variables";

.screen_game {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .screen_base {
    background: rgb(48, 48, 48);
    border: $bg-primary-color solid 2px;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .face {
        font-size: 3rem;
        color: $primary-detail-color;
    }
  }

}
