@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

// Cores principais
$bg-primary-color: #061433;
$bg-secondary-color: #0e4392;

$primary-detail-color: #00D9FF;
$secondary-detail-color: #BF00FF;

$dark-color: #2c3e50;
$light-color: #ecf0f1;

// Tipografia
$font-main: "Orbitron", sans-serif;
$font-secondary: "Rajdhani", sans-serif;
